<h1>@_localization.Getkey("Forgot Password").Value</h1>
<hr />
<form asp-controller="Account" asp-action="ForgotPassword" method="post">
	<input type="hidden" for="ReturnUrl" value=@ViewBag.ReturnUrl />
	<div class="row fw-bold">
		<div class="col-md-12">
			<div class="form-group row mb-2">
				<div class="col-md-2">
					<label for="Email">@_localization.Getkey("Email").Value</label>
				</div>
				<div class="col-md-10">
					<input name="Email" type="email" for="Email" />
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Send</button>
		</div>
	</div>
</form>
