@model AirplaneEditModel

<h1>Create Airplane</h1>
<hr />
<form asp-controller="Admin" asp-action="AirplaneCreate" method="post" enctype="multipart/form-data">
   
    <div class="row">
        <div class="col-md-8">            
            <div class="form-group row mb-2">
                <div class="col-md-3">
                    <label asp-for="SeatCapacity">@_localization.Getkey("SeatCapacity").Value</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control " type="text" asp-for="SeatCapacity" />

                </div>
                <span asp-validation-for="SeatCapacity" class="text-danger"></span>

            </div>

            <div class="form-group row mb-2">
                <div class="col-md-4 offset-3  ">
                    <button class="form-control btn btn-sm btn-continue fw-bold" type="submit">@_localization.Getkey("Create New Airplane").Value</button>
                </div>

            </div>
        </div>

    </div>
</form>

